<!--<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>NickName</th>
      <th>Height</th>
      <th></th>
    </tr>
  </thead>
  <br>
  <tbody>
    <tr *ngFor="let heroe of   ( heroes | ObjectToArray ) ; index as i">
      <td>{{heroe._name}}</td>
      <td>{{heroe._nickname}}</td>
      <td>{{heroe._height}}</td>
      <td class="company-row">
        <button class="btn btn-default" [routerLink]="['/heroe/edit', i]">Edit</button>
        <button class="btn btn-default" (click)="deleteHeroe.next(i)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
-->

<div class="flex-container">
  <div class="flex-item" *ngFor="let heroe of   ( heroes | ObjectToArray ) ; index as i" [routerLink]="['/heroe/edit', i]">
    <div class="flex-image">
      <img src="{{heroe._picture}}">
    </div>
    <div class="flex-number">{{i+1}}</div>
    <div class="flex-information">
      <div class="flex-principal-information">{{heroe._nickname}}</div>
      <div>{{heroe._name}}</div>
      <div>Estatura: {{heroe._height}}</div>
    </div>
     <button class="btn btn-default" (click)="deleteHeroe.next(i)">Delete</button>
  </div>

</div>